.player-showcase {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 1rem;
    height: 5%;
    border: 1px solid var(--border);
    justify-content: center;
    align-items: flex-start;
}
.top-showcase {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
}
.title-text {
    font-weight: 900;
    color: var(--bad-red);
}
.elo-text {
    margin-left: 1rem;
}
