.input-layer {
    position: absolute;
    inset: 0;
    width: 88%;
    height: 88%;
    justify-self: center;
    align-self: center;
    z-index: 100;
}
.input-layer {
    cursor: pointer;
}
.selected-square {
    background: #6d937b;
}
