.explorer {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-right: 2px solid var(--border);
}
.panel-title {
    margin-left: 1rem;
    font-size: 12pt;
    padding: 0.5rem;
}
.panel-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.search-bar-wrapper {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
}
