.chess-board {
    position: relative;
    width: min(80vh, 80vw);
    aspect-ratio: 1 / 1;
    user-select: none;
    overflow: hidden;
}

.board-layer,
.highlight-layer,
.piece-layer,
.input-layer {
    position: absolute;
    inset: 0;
}
.input-layer {
    cursor: default;
}

.square,
.selected-square,
.legal-move,
.legal-capture,
.piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.selected-square {
    background: #6d937b;
}

.legal-move::after {
    content: "";
    position: absolute;
    width: 28%;
    height: 28%;
    border-radius: 50%;
    background: var(--legal-move-color);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.legal-capture::after {
    content: "";
    position: absolute;
    inset: 3%;
    border-radius: 50%;
    border: 6px solid var(--legal-move-color);
    box-sizing: border-box;
}

.input-layer {
    z-index: 100;
}
.light {
    background-color: var(--light-sq-color);
}
.dark {
    background-color: var(--dark-sq-color);
}
.check-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    box-sizing: border-box;
    filter: blur(10px);
    background: var(--bad-red);
    pointer-events: none;
}
.rank-container {
    display: flex;
}
.ranks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rank {
    width: 20px;
}
.file-container {
    display: flex;
    width: 100%;
}
.files {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.file {
    margin-top: 10px;
}
.flipped-file {
    flex-direction: row-reverse;
}
.flipped-rank {
    flex-direction: column-reverse;
}
.last-move-layer {
    position: absolute;
    inset: 0;
}

.last-move-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-color: var(--last-move-color);
    pointer-events: none;
}
.board-gui {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}
.player-info {
    display: flex;
    height: 90%;
    margin-right: 1rem;
    justify-content: space-between;
    flex-direction: column;
}
.player-stats {
    padding: 0.2rem;
    text-align: right;
}
