.chess-board {
    position: relative;
    width: min(80vh, 80vw);
    aspect-ratio: 1 / 1;
    user-select: none;
}

.board-layer,
.highlight-layer,
.piece-layer,
.input-layer {
    position: absolute;
    inset: 0;
}

.square,
.selected-square,
.legal-move,
.legal-capture,
.piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.selected-square {
    background: #6d937b;
}

.legal-move::after {
    content: "";
    position: absolute;
    width: 28%;
    height: 28%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.35);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.legal-capture::after {
    content: "";
    position: absolute;
    inset: 3%;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
}

.input-layer {
    z-index: 100;
}
.light {
    background-color: #d0d9e0;
}
.dark {
    background-color: #5185b5;
}
.check-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    box-sizing: border-box;
    filter: blur(10px);
    background: rgba(255, 0, 0, 0.3);
    pointer-events: none;
}
.rank-container {
    display: flex;
}
.ranks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rank {
    width: 20px;
}
.file-container {
    display: flex;
    width: 100%;
}
.files {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.file {
    margin-top: 10px;
}
.flipped-file {
    flex-direction: row-reverse;
}
.flipped-rank {
    flex-direction: column-reverse;
}
.last-move-layer {
    position: absolute;
    inset: 0;
}

.last-move-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-color: rgba(255, 215, 0, 0.35);
    pointer-events: none;
}
