.shell {
    display: grid;
    grid-template-rows: 40px 1fr 24px;
    height: 100vh;
}

.workspace {
    display: flex;
    flex: 1;
    min-height: 0;
}

.main {
    display: flex;
    flex: 1;
    min-height: 0;
}

/* LEFT */
.left {
    min-width: 160px;
    max-width: 500px;
    background-color: #181818;
    overflow: hidden;
}

/* CENTER */
.center {
    flex: 1;
    min-width: 0;
}

/* RIGHT */
.right {
    min-width: 220px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

/* IMPORTANT: DO NOT use flex:1 here */
.eval {
    overflow: hidden;
}

.notation {
    flex: 1;
    overflow: auto;
}

/* SPLITTERS */
.splitter.vertical {
    width: 5px;
    cursor: col-resize;
    background: #2a2a2a;
}

.splitter.horizontal {
    height: 5px;
    cursor: row-resize;
    background: #2a2a2a;
}

.splitter:hover {
    background: #007acc;
}
