.explorer {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
}
.explorer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.explorer-folder {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.explorer-folder:hover {
    background-color: rgba(90, 93, 94, 0.31);
}
.extension-title {
    margin-left: 5px;
}
