.sf-toggle {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    width: 100%;
    background-color: var(--bg);
    border: 1px solid var(--border);
}
.toggler {
    border-radius: 1rem;
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
    border: 2px solid var(--border);
    transition: 0.2s ease-in-out;
}
.toggle-on {
    background-color: green;
}
.toggle-off {
    background-color: var(--secondary-bg);
}
.toggle-circle {
    height: 100%;
    width: 50%;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
}
.circle-on {
    transform: translateX(100%);
    background-color: lightgreen;
    filter: blur(1px);
}
.circle-off {
    background-color: whitesmoke;
    filter: blur(1px);
}
.evaluation {
    font-size: 20pt;
}
.depth {
    font-size: 12pt;
}
.best-move {
    font-size: 14pt;
}
