.analysis-page {
    display: flex;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}
.content-container {
    display: flex;
    height: 100%;
    width: 100%;
}
.board-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
}
.right-content-container {
    height: 100%;
}
