.tab-content {
    height: 100%;
    display: flex;
    width: 100%;
    background-color: var(--secondary-bg);
    justify-content: center;
    align-items: center;
}
.full-hidden {
    display: none;
}

.tab-page {
    display: flex;
    width: 100%;
    height: 100%;
}

/* TEMP */
/* Analysis Page Things */
.chess-board-components {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    gap: 1rem;
}
.analysis-page-main-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.analysis-board-location {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tab-panel-location {
    background-color: var(--bg);
    border-left: 1px solid var(--border);
    width: 20%;
    height: 100%;
}
.flip-content {
    flex-direction: column-reverse;
}
