.board {
    width: min(100vmin, 90vh);
    aspect-ratio: 1 / 1;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 2px solid #333;
}
.square {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.light {
    background: #d0d9e0;
}

.dark {
    background: #5185b5;
}

.piece {
    width: 90%;
    height: 90%;
    object-fit: contain;

    user-select: none;
    pointer-events: none;
}
