.board {
    width: min(100vmin, 90vh);
    aspect-ratio: 1 / 1;

    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));

    border: 2px solid #333;

    box-sizing: border-box;
}
.square {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    user-select: none;
    -webkit-user-drag: none;
}

.light {
    background-color: #d0d9e0;
}
.dark {
    background-color: #5185b5;
}

.square.selected {
    background-color: #6f957d;
}
.square.last-move {
    background: #b7ce81;
}

.piece {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

/* SVG SAFE */
.piece svg {
    width: 80%;
    height: 80%;
    pointer-events: none;
}

/* legal move dot */
.legal-dot {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 🔥 DRAG LAYER */
.drag-piece {
    position: fixed;
    transform: translate(-50%, -50%);

    pointer-events: none;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% / 8);
    height: calc(100% / 8);

    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.35));
}
