.stockfish-dock {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    background-color: var(--bg);
    align-items: center;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    flex-direction: column;
}
.top-container {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: flex-start;
    gap: 5%;
    margin-left: 10%;
    align-items: center;
}
.switch-button-wrapper {
    display: flex;
    width: 2rem;
    height: 0.7rem;
    background-color: var(--secondary-bg);
    border: 1px solid var(--border);
    transition: 0.2s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}
.circle {
    background-color: white;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50%;
    transition: 0.2s ease-in-out;
}
.circle-on {
    transform: translateX(100%);
    background-color: lightgreen;
}
.wrapper-active {
    background-color: darkgreen;
}
.evaluation-text {
    font-size: 12pt;
    width: 14%;
    text-align: center;
}
.best-move-text {
    font-size: 14pt;
    text-align: center;
    width: 20%;
}
.depth-text {
    width: 25%;
    text-align: center;
}
.move-text {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}
.top-line-container {
    background-color: var(--secondary-bg);
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    height: 25%;
    overflow: hidden;
    white-space: nowrap;
    border-top: 1px solid var(--border);
}
