.tab-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
}
.tab-panel,
.panel-main-content,
.pgn-details,
.split-container,
.shared-details,
.pgn-field {
    min-width: 0;
    min-height: 0;
}
.panel-button {
    display: flex;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid transparent;
    /* maybe this is a bad idea, come back to it later if thats true */
    cursor: pointer;
    transition: 0.2s ease-in-out;
    min-width: 4rem;
    font-size: 16pt;
}
.panel-button:hover {
    background-color: var(--secondary-bg);
    border-bottom: 1px solid var(--highlight);
}
.panel-button-wrapper {
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--border);
}
.panel-main-content {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    height: 80%;
    position: relative;
    overflow: scroll;
}
.panel-popover-content.hidden {
    transform: translateY(150%);
}
.panel-popover-button-wrapper {
    display: flex;
    height: 5%;
    width: 100%;
    z-index: 2;
    border-top: 1px solid var(--border);
    background-color: var(--bg);
}
.pop-over-button {
    display: flex;
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    border-top: 1px solid transparent;
    transition: 0.2s ease-in-out;
}
.pop-over-button:hover {
    border-top: 1px solid var(--highlight);
    background-color: var(--secondary-bg);
}
.panel-popover-content {
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: var(--secondary-bg);
    border-top: 1px solid var(--border);
    height: 50%;
    width: 24%;
    bottom: 4%;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
