.dark {
    --bubble: #313131;
    --bg: #181818;
    --secondary-bg: #1f1f1f;
    --border: #272727;
    --fg: white;
    --highlight: #0a75c8;

    /* Chess Board Colors */
    --light-sq-color: #d0d9e0;
    --dark-sq-color: #5185b5;
    --legal-move-color: rgba(0, 0, 0, 0.35);
    --last-move-color: rgba(255, 215, 0, 0.85);

    --good-green: green;
    --bad-red: rgba(255, 0, 0);
    --bad-red-transparent: rgba(255, 0, 0, 0.3);
}

* {
    --bubble: #24283b;
    --bg: #1a1b26;
    --secondary-bg: #1f2335;
    --border: #2f3549;
    --fg: #c0caf5;
    --highlight: #7aa2f7;

    /* Chess Board Colors */
    --light-sq-color: #c0caf5;
    --dark-sq-color: #5b7cb5;
    --legal-move-color: rgba(26, 27, 38, 0.35);
    --last-move-color: rgba(224, 175, 104, 0.85);

    --good-green: green;
    --bad-red: #f7768e;
    --bad-red-transparent: rgba(247, 118, 142, 0.3);
}
.real-squares {
    --picture-light-sq: url("../public/light-square.png");
    --picture-dark-sq: url("../public/dark-square.png");
}
html,
body,
#root {
    display: flex;
    height: 100%;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui;
    overflow: hidden;
}
div {
    font-size: 10pt;
}
input {
    padding: 4px 8px;
    background-color: var(--secondary-bg);
    border-radius: 0.4rem;
    color: white;
    border: 2px solid var(--border);
}
select {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--secondary-bg);
    border: 2px solid var(--border);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg.../>");
    background-repeat: no-repeat;
    background-position: right 8px center;
}
