* {
    --bubble: #313131;
    --bg: #181818;
    --secondary-bg: #1f1f1f;
    --border: #272727;
    --fg: white;
    --highlight: #0a75c8;

    /* Chess Board Colors */
    --light-sq-color: #d0d9e0;
    --dark-sq-color: #5185b5;
    --legal-move-color: rgba(0, 0, 0, 0.35);
    --last-move-color: rgba(255, 215, 0, 0.35);

    --bad-red: rgba(255, 0, 0);
    --bad-red-transparent: rgba(255, 0, 0, 0.3);
}

/* --bubble: #2d1b4e; */
/* --bg: #120b1f; */
/* --secondary-bg: #1e1235; */
/* --border: #4a2d7a; */
/* --fg: #f2f2f2; */
/* --highlight: #ff3ea5; */
/* /* Chess Board Colors */
*/
    /* --light-sq-color: #baffc9; */
    /* --dark-sq-color: #7b2ff7; */
    /* --legal-move-color: rgba(255, 230, 0, 0.35); */
    /* --last-move-color: rgba(0, 255, 200, 0.35); */
    /* --bad-red: rgba(255, 0, 90, 0.4); */
html,
body,
#root {
    display: flex;
    height: 100%;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--fg);
    font-family: system-ui;
    overflow: hidden;
}
div {
    font-size: 10pt;
}
input {
    padding: 4px 8px;
    border-radius: 4px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    background: var(--bg);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg.../>");
    background-repeat: no-repeat;
    background-position: right 8px center;
}
