.shell-panel {
    display: flex;
    background-color: var(--bg);
    width: fit-content;
    height: 100%;
}
.panel-switch-container {
    display: flex;
    flex-direction: column;
    width: 3rem;
    gap: 0.6rem;
    border-right: 1px solid var(--border);
}
.panel-switch {
    display: flex;
    margin-top: 1rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.panel-logo {
    display: flex;
    width: 80%;
    height: 90%;
    transition: 0.2s ease-in-out;
}
.panel-switch:hover {
    border-right: 1px solid var(--highlight);
    .panel-logo {
        filter: invert();
    }
}
.panel-switch.selected-switch {
    border-right: 1px solid var(--highlight);
}
.selected-logo {
    filter: invert();
}
.shell-panel-content {
    display: flex;
    width: 15rem;
    min-width: 0;
    overflow: hidden;
    background-color: var(--bg);
    transition: 0.2s ease-in-out;
    border-right: 1px solid var(--border);
}
.hidden-width {
    width: 0;
}
